.list-group-flush {
    margin-left: 11%;
    margin-right: 11%;
    font-family: Helvetica;
    font-size: 18px;
}

.listDiv {
    margin-bottom: 10px;
}

.dropdown {
    display: flex;
    justify-content: end;
    margin-right: 12%;
}

.btn-primary {
    background-color: #275dad;
    border-color: #275dad;
    font-family: Helvetica;
}
